<div class="container">
  <div class="card" style="width:300px">
    <form (ngSubmit)="onSignIn()" #f="ngForm">
      <div class="row h-100 justify-content-center align-items-center" id="user-data" ngModelGroup="userData">
        <div id="username">
          <div class="form-group form-inline">
            <input type="text"
            id="username"
            class="form-control"
            ngModel
            name="username"
            required
            placeholder="Your User Name"
            #username="ngModel">
          </div>
          <span class="d-inline" *ngIf="!username.valid && username.touched">Invalid User Name</span>
        </div>
        <div id="password">
          <div class="form-group form-inline">
            <input type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            placeholder="Your Password">
          </div>
        </div>
      </div>
      <div class="row h-100 justify-content-center align-items-center">
        <button 
          class="btn btn-outline-dark btn-sm " 
          type="submit"
          [disabled]="!f.valid">Login</button>
        </div>
    </form>
  </div>
</div>