<div class="container">
  <div class="col-xs-12 col-sm-offset-1 col-md-offset-2">
    <ul class="navbar navbar-dark bg-dark text-white">
      <li class="nav-link active"><a routerLink="/">Home</a></li>
      <li class="nav-link disabled">Logout</li>
    </ul>
  </div>
</div>