<div class="container">
  <div class="card" style="width:300px">
    <form  #f="ngForm">
      <div class="card-body" id="date-range" ngModelGroup="DateRange">
        <div id="startDate">
          <label for="startDate">startDate</label>
          <input id="startDate"
          type="date"
          name="startDate"
          ngModel
          name="startDate"
          #startDate="ngModel">
        </div>
        <div id="endDate">
          <label for="endDate">endDate</label>
          <input id="endDate"
          type="date"
          name="endDate"
          ngModel
          name="endDate"
          #endDate="ngModel">
        </div>
      </div>
      <div class="row h-100 justify-content-center align-items-center">
        <button 
          class="btn btn-outline-dark btn-sm " 
          type="submit" (click)="changeDate()">Submit</button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="d3-chart-div"></div>
    </div>
  </div>

 <div class="row">
   <div class="col-md-6">
    <div id="piechart-left"></div>
   </div>
   <div class="col-md-6">
    <div id="piechart-right"></div>
   </div>
 </div>
</div>