path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}



#piechart-right {
    /* NEW */
    height: 360px;
    /* NEW */
    position: relative;
    /* NEW */
    width: 360px;
    /* NEW */
}

/* NEW */
.tooltip1 {
    /* NEW */
    background: #eee;
    /* NEW */
    box-shadow: 0 0 5px #999999;
    /* NEW */
    color: #333;
    /* NEW */
    display: none;
    /* NEW */
    font-size: 12px;
    /* NEW */
    left: 80px;
    /* NEW */
    padding: 10px;
    /* NEW */
    position: absolute;
    /* NEW */
    text-align: center;
    /* NEW */
    top: 95px;
    /* NEW */
    width: 180px;
    /* NEW */
    z-index: 10;
    /* NEW */
}

/* NEW */
.legend {
    font-size: 12px;
}

rect {
    stroke-width: 2;
}
