<div class="chartsPie">
  <div class="container">
    <div *ngIf="chart1">
      <canvas id="canvas1">{{ chart1 }}</canvas>
    </div>
  </div>
  <div class="container">
      <div *ngIf="chart2">
        <canvas id="canvas2">{{ chart2 }}</canvas>
      </div>
  </div>

<div class="chartsGraph">
  <div class="container">
    <div *ngIf="chart3">
      <canvas id="canvas3">{{ chart3 }}</canvas>
    </div>
  </div>
</div>
</div>