.chartsPie{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.chartsPie > div{
    background: #eee;
    padding: 1em;
}

.chartsPie > div:nth-child(odd){
    background: #ddd;
}

.chartsGraph{
    grid-column: 1/3;
}

.chartsGraph > div{
    background: #eee;
    padding: 1em;
}