<div class="container">
  <div style="margin-top: 2%;">
    <app-navbar></app-navbar>
  </div>
</div>
<div class="container">
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>
